*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  scrollbar-width: thick;
}
:root{
--black:#2F4454;
--red:#2E151B;
--pink:#DA7B93;
--lightGreen:#376E6F;
--darkGreen:#1C3334;
}

/* -------------------------------Navagation Bar ---------------------------*/
html{
  color: white;
  display: flex;
  justify-content: center;
  width: 98.7vw;
  
}
body{
background-color: purple;
}
html::-webkit-scrollbar {
}

a{
  text-decoration: none;
  color: inherit;
}
button{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  outline: inherit;

  width: 220px;
  height: 80px;
  position: relative;
  transition: .5s;
}
button:hover p{
  color: var(--lightGreen)
}


nav{
  display: flex;
  background-color: var(--black);
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  margin: 0px;
}

.navElement{
  position: relative;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  background-color: transparent;
}
.navElement .navButtonDecorations{
position: absolute;
top: 25%;
left: 15%;
background-color:var(--pink);
height: 50%;
width: 4%;
display: none;
}
.navElement:hover .navButtonDecorations {
display: inline;
}
.navElement:hover p{
  color: darkgray;

  }
  
  /* ---------------------------- web expanded problem is above landing page ---------------------------*/

/* -------------------------------landing page ---------------------------*/

.landingPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: auto;
  color: white;
  background-color:  var(--black);
  text-align: center;  
  background-color: orange;
  margin: 0px;
}

.container{
 margin-top: 0vh;
}
/* button element animation */
.container .seeWorkButton {
  display: relative;
  width: 20vw;
  max-width: 90vw;
  background-color: none;
  height: 'auto';
  margin: 0%; /* this may cause the website to be too wide */
  /*filter: url(#goo); */
  outline: var(--pink) solid 2px;
  border-radius: 3%;
}
.seeWorkButton:hover {
  color: var(--lightGreen);
  background-color: var(--pink);
  outline: var(--pink), solid, 2px;
}

/* -------------------------------Skills Grid ---------------------------*/
.skills{
  width: auto;
  height: 100vh;
  margin: 0;
  background-color: pink;
}
/* grid */
.skillsGridBox{
  height: inherit;
  width: inherit;
  background-color:gray;
  max-height: 100%;
  z-index: 100;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6 , .2fr);
  grid-template-rows:repeat(8 , .2fr);
  row-gap: 1%;
  column-gap: .5%;
  margin: 0;
  align-content: center;
  overflow: visible;
}

.skillInGrid{
  grid-column-start: 1;
}

.gridColumnEnd{
  grid-column-end: 7;
}

/* animation for circle */
@keyframes circleExpand{
  from{
    background-color: var(--pink);
  }
  to{  
    background-color: var(--lightGreen);
  }
}
.circle{
  background-color: var(--pink);
  height: 10%;
  width: 100%;
  border-radius: 0%;
  
}

.circle:hover{
  animation-name: circleExpand;
  animation-duration: .5s;
  background-color: var(--lightGreen);
}

/* -------------------------------Projects/Portfolio ---------------------------*/
.myWork{
  position: relative;
  height: 100vh;
  width: auto;
  background-color: black;
}
.projectContainer{
  position: absolute;
  top: 25%;
  left: 45%;
}
.imagesForPortfolio{
  height: 10vw;
  width: auto;
  object-fit: contain;
}
.projectDescription{
  position: relative;
  right: 5vw;
  height: 30vh;
  width: 30vw;
  max-width: 400px;
  max-height: 350px;
  background-color: palegoldenrod;
}
/* -------------------------------Contact ---------------------------*/
.blockContainer{
  width: auto;
  height: 100vh;
}

.contact{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: auto; 
  /* using auto over vw because vw takes into account the vertical scroll bar
   and therefore adds space to the right of the page. this makes things 
   hard to center as well as looks sloppy*/ 
  max-width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}




@media only screen and (max-width: 600px) {
  .landingPage{
    
  }
}


@media only screen and (max-width: 350px) {
  .landingPage{
    font-size: .35em;
  }
  h1{
    margin: 25%;
  }
}