*{
  margin: 0px;
  padding: 0em;
  box-sizing: border-box;
}
:root{
--black:#2F4454;
--red:#2E151B;
--pink:#DA7B93;
--lightGreen:#376E6F;
--darkGreen:#1C3334;
}

/* -------------------------------Navagation Bar ---------------------------*/
html{
  color: white;
  display: flex;
}
body{
}

nav{
  display: flex;
  background-color: var(--black);
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  
}
.navElement{
  position: relative;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
.navElement .navButtonDecorations{
position: absolute;
top: 25%;
left: 15%;
background-color:var(--pink);
height: 50%;
width: 4%;
display: none;
}
.navElement:hover .navButtonDecorations {
display: inline;
}
.navElement:hover p{
  color: darkgray;

  }
  

/* -------------------------------landing page ---------------------------*/

.landingPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color: white;
  background-color:  var(--black);
  text-align: center;  
  background-color: orange;
}
body{
  background-color: var(--black);
}

/* button element animation */
.container .seeWorkButton {
  display: relative;
  width: 100vw;
  background-color: green;
  height: 'auto';
  margin: 0%; /* this may cause the website to be too wide */
  /*filter: url(#goo); */
}

button{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  outline: inherit;

  width: 220px;
  height: 80px;
  position: relative;
  margin-bottom: 60px;
  transition: .5s;
  
}

.seeWorkButton span{
  display: block;
  width: 30%;
  height: 100%;
  
  background-color: var(--pink);
  /*transform: translate(0, -50%); */
  position: absolute;
  top: 0%;
  right: 0px;
  left: 0px;
  transition: .5s;
  margin: auto;
}

button:hover span{
 height: 120%;
 transition: .4s;
}

button span:nth-child(1){
  transition-delay: .25s ;
  left:0;
}
button span:nth-child(2){
  transition-delay: .20s ;
  left: 20px;
}
button span:nth-child(3){
  transition-delay: .15s ;
  left: 40px;
}
button span:nth-child(4){
  transition-delay: .1s ;
  left:60px;
}
button span:nth-child(5){
  transition-delay: .05s ;
  left: 80px;
}
button span:nth-child(6){
  transition-delay: .0s ;
  left: 100px;
}
button span:nth-child(7){
  transition-delay: .05s ;
  left: 120px;
}
button span:nth-child(8){
  transition-delay: .10s ;
  left: 140px;
}
button span:nth-child(9){
  transition-delay: .15s ;
  left: 160px;
}
button span:nth-child(10){
  transition-delay: .20s ;
  left: 180px;
}
button span:nth-child(11){
  transition-delay: .25s ;
  left: 200px;
}
button p{
  color: white;
  z-index: 10;
  font-size: 1.2em;
  position: relative;
  transition: .5;
}
button:hover p{
  color: var(--lightGreen)
}

/* -------------------------------Skills Grid ---------------------------*/
.skills{
  width: 90vw;
  height: 55vh;
  margin: auto;
  background-color: pink;
}
/* grid */
.skillsGridBox{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6 , .5fr);
  grid-template-rows:repeat(7 , .5fr);
  row-gap: 20%;
  column-gap: .5%;
  margin: auto;
  align-content: center;
}

.skillInGrid{
  grid-column-start: 1;
}

.gridColumnEnd{
  grid-column-end: 7;
}

/* animation for circle */
@keyframes circleExpand{
  from{
    background-color: var(--pink);
  }
  to{  
    background-color: var(--lightGreen);
  }
}
.circle{
  background-color: var(--pink);
  height: 100%;
  width: 100%;
  border-radius: 0%;
  
}

.circle:hover{
  animation-name: circleExpand;
  animation-duration: .5s;
  background-color: var(--lightGreen);
}

/* -------------------------------Projects/Portfolio ---------------------------*/
.myWork{
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
.projectContainer{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.imagesForPortfolio{
  height: 10vw;
  width: auto;
  object-fit: contain;
}
/* -------------------------------Contact ---------------------------*/

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: left;
}




@media only screen and (max-width: 600px) {
  .landingPage{
    
  }
}


@media only screen and (max-width: 350px) {
  .landingPage{
    font-size: .35em;
  }
  h1{
    margin: 25%;
  }
}