/* -------------------------------Welcome---------------------------------*/
/* -the Css in this project is layed out in a top down approach each. In other word
    the goal is for elements to be organized as they appear in the html*/
    @import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --darkBrown: #492c26;
  --darkBlue: #10173f;
  --white: 	#fff;
  --lightBlue: #79aff2;
  --black: #170f11;
  --greyBlue: #8798c8;
}

/*---------------------------------Header----------------------------------*/
html{
  background-image: linear-gradient(#261410 20%, var(--darkBlue) 75%);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--white);
}
header{
  width: 98.8vw;
  height: max(15vh,80px);
}
a:hover{
  cursor: pointer;
}
.home{
  color: var(--white);
  text-decoration: none;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 2%;
  left: 5%;
}
.logo{
  font-family: 'Mr Dafoe', cursive;
  font-size: max(4vh,1.8em);
}


/*---------------------------------body----------------------------------*/
body{

}
.decoration{
  position: absolute;
  z-index: -20;
  height: 900px;
  width: 100vw;
  background-image: linear-gradient( var(--greyBlue), var(--lightBlue) );
  border-radius: 60px;
  transform: skewY(-25deg);
  top: -200px;
}
.lowerDecoration{
  position: absolute;
  z-index: -20;
  height: min(600px, 60vh);
  width: 100vw;
  background-image: linear-gradient( var(--greyBlue), var(--lightBlue) );
  border-radius: 50%;
  transform: skewY(25deg);
  top: 700px;
}
.projectContainer{
  display: grid;
  grid-template-columns: 100px .8fr 3fr 100px;
  grid-template-rows: auto auto;
  align-items: top;
  justify-content: top;
  font-size: 1.1em;
}

.title{
  font-size: 1.2em;
  margin: 15px;
  text-align: left;
}
.projectTitle{
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
  margin: 2%;
}
.techBlock{
  
  grid-row-start: 2;
  grid-column-start: 2;

}
.description{
  grid-row-start: 2;
  grid-column-start: 3;
}

/* ----------------------------photo gallary ------------------------------- */
.siteLink{
  outline: none;
  background-color: #10173f;
  text-decoration: none;
  color: white;
  margin: 20px;
  height: 50px;
  width: 180px;
  box-shadow: 1px 2px 0px var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  outline:#170f11 solid 2px;
}


.photoGallery{
  display: flex;
  flex-direction: column;
  align-items: center;
}